<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40314676-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-40314676-4');
    </script>

  {% seo %}
  <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle left-navbar" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav">
          <li><a class="navbar-link" id="home-btn" href="#">Home</a></li>
          <li><a class="navbar-link" id="projects-btn" href="#">Projects</a></li>
          <li><a class="navbar-link" id="publications-btn" href="#">Publications</a></li>
          <li><a class="navbar-link" id="posters-btn" href="#">Posters</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  <div id="home"></div>
  
  <section class="page-header">
    <img class="img-circle" src="https://avatars2.githubusercontent.com/u/7606872?s=460&v=4" width="230">
    <h1 class="project-name">
      Sergio Castillo-Lara 
      <a href="https://orcid.org/0000-0003-3904-2948" target="_blank">
        <img id="orcid-img" width="25px" src="https://scastlara.github.io/images/orcid.png">
      </a>
      
    </h1> 
    <h2 class="project-tagline">PhD Student @ <a href="https://compgen.bio.ub.edu" target="_blank">Computational Genomics Lab</a>, UB</h2>
    
    
    <a href="https://github.com/scastlara" target="_blank" class="btn">
      <img src="https://scastlara.github.io/images/github.png" class="cicon">GitHub
    </a>
    <a href="https://www.linkedin.com/in/sergiocastillolara/" target="_blank" class="btn">
      <img src="https://scastlara.github.io/images/linkedin.png" class="cicon">LinkedIn
    </a>
    <a href="https://scholar.google.es/citations?user=mdWnpmAAAAAJ&hl=en" target="_blank" class="btn">
      <img src="https://scastlara.github.io/images/gscholar.png" class="cicon">Google Scholar
    </a>
    <a href="https://twitter.com/scastlara" target="_blank" class="btn"><img src="images/twitter.png" class="cicon">Twitter</a>
    <a href=" https://scastlara.github.io/scastlara_cv.pdf" target="_blank" class="btn">
      <img src="https://scastlara.github.io/images/cv.png" class="cicon">CV
    </a>
  </section>
  
  <section class="main-content">
    
    <div class="row">
      <div class="col-sm-7">
        <h2 id="projects">Projects</h2>
        <hr>
        <div class="project">
          <div class="row">
            <div class="ptitle">
              <h4>PlanExp</h4>
              <hr>
            </div>
            <div class="col-sm-2">
              <a href="https://compgen.bio.ub.edu/plannet/planexp" title="PlanExp website" target="_blank">
                <div class="project-img-div">
                  <img src="https://scastlara.github.io/images/planexp-logo.png" class="project-img">
                </div>
              </a>
            </div>
            <div class="col-sm-10">
              Web application to explore and visualize both traditional and single cell RNA-seq data for the planaria <i><a href="https://en.wikipedia.org/wiki/Schmidtea_mediterranea" target="_blank">Schmidtea mediterranea</a></i>. 
              It provides several interactive visualization options made with the plotting library <a href="https://plot.ly/" target="_blank">Plotly.js</a>, a way to map gene expression onto a gene-protein network, a fully fledged <a href="http://js.cytoscape.org/" target="_blank">Cytoscape.js</a> network editor, and the ability to perform GO enrichment analyses.
              
              <div class="project-link-div">
                <a href="https://compgen.bio.ub.edu/plannet/planexp" target="_blank"><div class="small-btn">Website</div></a>
                <a href="https://doi.org/10.1093/bioinformatics/btz802" target="_blank"><div class="small-btn">Publication</div></a>
                <a href="https://github.com/scastlara/PlanNET" target="_blank"><div class="small-btn">Code</div></a>
              </div>
            </div>
          </div>
        </div>

        <div class="project">
          <div class="row">
            <div class="ptitle">
              <h4>PlanNET</h4>
              <hr>
            </div>
            <div class="col-sm-2">
              <a href="https://compgen.bio.ub.edu/plannet" title="PlanNET website" target="_blank">
                <div class="project-img-div">
                  <img src="https://scastlara.github.io/images/plannet-logo.png" class="project-img">
                </div>
              </a>
            </div>
            <div class="col-sm-10">
              Prediction of protein-protein interactions for the planaria <i><a href="https://en.wikipedia.org/wiki/Schmidtea_mediterranea" target="_blank">Schmidtea mediterranea</a></i> using sequence homology information and machine learning. Creation of a web application to explore the predicted interactions in several ways, using the graph-based database manager <a href="https://neo4j.com/" target="_blank">Neo4j</a> and the <a href="https://www.djangoproject.com/" target="_blank">Django</a> Python web framework.
              
              <div class="project-link-div">
                <a href="https://compgen.bio.ub.edu/plannet" target="_blank"><div class="small-btn">Website</div></a>
                <a href="https://academic.oup.com/bioinformatics/article/34/6/1016/4657068" target="_blank"><div class="small-btn">Publication</div></a>
                <a href="https://github.com/scastlara/PlanNET" target="_blank"><div class="small-btn">Code</div></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="project">
          <div class="row">
            <div class="ptitle">
              <h4>PPaxe</h4>
              <hr>
            </div>
            <div class="col-sm-2"> 
              <a href="https://compgen.bio.ub.edu/PPaxe" title="PPaxe website" target="_blank">
                <div class="project-img-div">
                  <img src="https://scastlara.github.io/images/ppaxe-logo.png" class="project-img">
                </div>
              </a>
            </div>
            <div class="col-sm-10">
              Python and Web tool to extract protein-protein and genetic interactions from the scientific literature programatically. <tt>PPaxe</tt> uses a <a href="https://en.wikipedia.org/wiki/Random_forest" target="_blank">Random Forest Classifier</a> and the <a href="https://stanfordnlp.github.io/CoreNLP/" target="_blank">Stanford CoreNLP</a> to compute the necessary features. <tt>PPaxe</tt> is completely pattern-free, and is able to extract interactions independently of the identifiers used for the proteins and genes, thanks to the Name Entity Recognizer (NER) trained with several datasets.
              
              <div class="project-link-div">
                <a href="https://compgen.bio.ub.edu/ppaxe" target="_blank"><div class="small-btn">Website</div></a>
                <a href="https://academic.oup.com/bioinformatics/advance-article-abstract/doi/10.1093/bioinformatics/bty988/5221011" target="_blank"><div class="small-btn">Publication</div></a>
                <a href="https://github.com/scastlara/ppaxe" target="_blank"><div class="small-btn">Code</div></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="project">
            <div class="row">
              <div class="ptitle">
                <h4>RPGeNet v2</h4>
                <hr>
              </div>
              <div class="col-sm-2">
                <a href="https://compgen.bio.ub.edu/RPGeNet" target="_blank">
                  <div class="project-img-div">
                    <img src="https://scastlara.github.io/images/rpgenet.png" class="project-img">
                  </div>
                </a>
              </div>
              <div class="col-sm-10">
                  Complete rewrite of the Retinitis Pigmentosa Gene Interaction Network web application (<a href="https://compgen.bio.ub.edu/RPGeNet" target="_blank">RPGeNet</a>) using Django and the database manager neo4j.

                  RPGeNet was created to help users find new potential driver genes of retinitis pigmentosa and help better visualize the complex interaction network of the retina. The interaction database is formed by the merger of self-curated BioGRID, STRING and text-mining (<a href="https://compgen.bio.ub.edu/PPaxe" target="_blank">PPaxe</a>) interaction data.
                  <div class="project-link-div">
                    <a href="https://compgen.bio.ub.edu/RPGeNet" target="_blank"><div class="small-btn">Website</div></a>
                    <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0135307" target="_blank"><div class="small-btn">Publication</div></a>
                    <a href="https://github.com/scastlara/RPGeNet" target="_blank"><div class="small-btn">Code</div></a>
                </div>
              </div>
            </div>
          </div>


        <div class="project">
          <div class="row">
            <div class="ptitle">
              <h4>NewIt</h4>
              <hr>
            </div>
            <div class="col-sm-2">
              <a href="#">
                <div class="project-img-div">
                  <img src="https://scastlara.github.io/images/newit-logo.png" class="project-img">
                </div>
              </a>
            </div>
            <div class="col-sm-10">
              Django web application to read news from Spanish sources. The focus of the application is entirely on searches, and users subscribe to their preferred keywords instead of categories. 
              
              Made for the Databases and Web Development Course of the <a href="https://www.upf.edu/bioinformatics/" target="_blank">MSc. for Health Sciences at UPF</a>.
              <div class="project-link-div">
                <a href="https://github.com/scastlara/NewIt" target="_blank"><div class="small-btn">Code</div></a>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
        <br>
        <br>
        <h2 id="publications">Publications</h2>
        <hr>
        <div class="row">

            <a class="pub-link" href="https://academic.oup.com/bioinformatics/advance-article-abstract/doi/10.1093/bioinformatics/bty988/5221011" target="_blank">
              <div class="row">
                <div class="col-sm-3">
                  <img class="pub-img" src="https://scastlara.github.io/images/ppaxe_paper.png" target="_blank">
                </div>
                <div class="col-sm-9 pub-data-container">
                  <div class="pub-data">
                    <span class="pub-title">PPaxe: easy extraction of protein occurrence and interactions from the scientific literature </span>
                    <span class="pub-date">2018 - Bioinformatics</span>
                    <span class="pub-date"><b>S. Castillo-Lara</b>, J.F. Abril</span>
                  </div>
                </div>
              </div>
            </a>

          <a class="pub-link" href="https://academic.oup.com/bioinformatics/article/34/6/1016/4657068" target="_blank">
            <div class="row">
                <div class="col-sm-3">
                  <img class="pub-img" src="https://scastlara.github.io/images/plannet_img.png" target="_blank">
                </div>
                <div class="col-sm-9 pub-data-container">
                  <div class="pub-data">
                    <span class="pub-title">PlanNET: Homology-based predicted interactome for multiple planarian transcriptomes</span>
                <span class="pub-date">2017 - Bioinformatics</span>
                <span class="pub-date"><b>S. Castillo-Lara</b>, J.F. Abril</span>
                  </div>
                </div>
              </div>
          </a>
          
          <a class="pub-link" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0135307" target="_blank">
            <div class="row">
                <div class="col-sm-3">
                  <img class="pub-img" src="https://scastlara.github.io/images/rpgenet_img.png" target="_blank">
                </div>
                <div class="col-sm-9 pub-data-container">
                  <div class="pub-data">
                    <span class="pub-title">Distilling a Visual Network of Retinitis Pigmentosa Gene-Protein Interactions to Uncover New Disease Candidates</span>
                    <span class="pub-date">2015 - PLOS ONE</span>
                    <span class="pub-date">D. Boloc, <b>S. Castillo-Lara</b>, G. Marfany, R. Gonzàlez-Duarte, J.F. Abril</span>
                  </div>
                </div>
              </div>
          </a>
          
        </div>  <!-- row publications -->
        
        <br>
        <br>
        <h2 id="posters">Posters</h2>
        <hr>
        <div class="row">
            <a class="pub-link" href="https://compgen.bio.ub.edu/display2837" target="_blank">
              <div class="col-sm-3 publication">
                <img class="pub-img" src="https://compgen.bio.ub.edu/display2837" target="_blank">
                <hr>
                <span class="pub-title">PPaxe facilitates human-curation of protein-protein interactions filtered from the scientific literature</span>
                <span class="pub-date">VI Jornada de Bioinformàtica i Genòmica </span>
                <span class="pub-date">Barcelona, December 20th, 2018</span>
                <span class="pub-date"><u><b>S. Castillo-Lara</b></u>, J.F. Abril</span>
              </div>
            </a>

            <a class="pub-link" href="https://compgen.bio.ub.edu/display2839" target="_blank">
              <div class="col-sm-3 publication">
                <img class="pub-img" src="https://compgen.bio.ub.edu/display2839" target="_blank">
                <hr>
                <span class="pub-title">RPGeNet v2.0. Enhanced navigation through the retinitis pigmentosa interaction network</span>
                <span class="pub-date">VI Jornada de Bioinformàtica i Genòmica </span>
                <span class="pub-date">Barcelona, December 20th, 2018</span>
                <span class="pub-date">R. Arenas-Galnares, <b>S. Castillo-Lara</b>, V. Toulis,
                    R. Gonzalez-Duarte, G. Marfany, J.F. Abril </span>
              </div>
            </a>


          <a class="pub-link" href="https://compgen.bio.ub.edu/CompGenLab/dl2802" target="_blank">
            <div class="col-sm-3 publication">
              <img class="pub-img" src="https://compgen.bio.ub.edu/CompGenLab/display2815" target="_blank">
              <hr>
              <span class="pub-title">A human-planarian interologs network to annotate planarian transcriptomes: PlanNET</span>
              <span class="pub-date">15th RECOMB Comparative Genomics Satellite Workshop</span>
              <span class="pub-date">Barcelona, October 4-6, 2017</span>
              <span class="pub-date"><u><b>S. Castillo-Lara</b></u>, J.F. Abril</span>
            </div>
          </a>
          
          <a class="pub-link" href="https://compgen.bio.ub.edu/CompGenLab/dl2807" target="_blank">
            <div class="col-sm-3 publication">
              <img class="pub-img" src="https://compgen.bio.ub.edu/CompGenLab/display2812" target="_blank">
              <hr>
              <span class="pub-title">Distilling a network of interactions to uncover genes involved in Retinitis Pigmentosa disease</span>
              <span class="pub-date">IIa Jornada de Bioinformàtica i Biologia Computacional SCB</span>
              <span class="pub-date">Barcelona , December 12th, 2014</span>
              <span class="pub-date"><u><b>S. Castillo-Lara</b></u>, D. Boloc, G. Marfany, R. Gonzàlez-Duarte, J.F. Abril</span>
            </div>
          </a>
          
          <div class="col-sm-4">
            
          </div>
        </div> <!-- row posters -->
        </div> <!-- col-sm-7 left-->
        <div class="col-sm-5 misc-content">
            <h2 id="languages">Programming Languages</h2>
            <br>
            <img src="images/python.ico" class="plang-icon">Python<br>
            <img src="images/perl.png" class="plang-icon">Perl<br>
            <img src="images/R.png" class="plang-icon">R<br>
            <img src="images/js.png" class="plang-icon">JavaScript<br>
            <img src="images/bash.png" class="plang-icon">Bash<br>
            <hr>
            <img src="images/sql.png" class="plang-icon">SQL<br>
            <img src="images/cypher.png" class="plang-icon">Cypher QL<br>

            <br><br>

            <h2 id="interests">Interests</h2>
            <br>
            <p>Machine-learning</p>
            <p>Statistics</p>
            <p>Data visualization</p>
            <p>Databases</p>
            <p>Web Design</p>
            <p>UI/UX Design</p>
                      
            <br><br>

            <h2 id="education">Education</h2>
            <br>
            <img src="https://scastlara.github.io/images/ed-cap.png" class="ed-img"> 
            <span class="ed-title">
              <a href="https://www.upf.edu/web/bioinformatics" target="_blank">MSc. Bioinformatics for Health Sciences</a>
            </span> at UPF.
            <br><br>
            <img src="https://scastlara.github.io/images/ed-cap.png" class="ed-img"> 
            <span class="ed-title">
              <a href="http://www.ub.edu/biologia/guia_grau_biologia/index.htm" target="_blank">BSc. Biology</a>
            </span> at UB.


            <br><br>
            <h2 id="Teaching">Teaching</h2>
            <br>
            <p>
              <a href="http://www.ub.edu/grad/infes/fitxaInfe.jsp?n0=2&n1=0&n2=1&curs=2019&ens=TG1034&assig=361576" target="_blank">Bioinformatics</a> 
              <br> 
              <i>Undergraduate course - <a href="https://www.ub.edu/web/ub/ca/" target="_blank">Universitat de Barcelona</a></i>
            </p>
            <p>
              <a href="https://gestioacademicavirtual.esci.upf.edu/doa/consultaPublica/look[conpub]MostrarPubGuiaDocAs?entradaPublica=true&idiomaPais=en.GB&_anoAcademico=2019&_codAsignatura=53129" target="_blank">Computational Genomics</a> 
              <br> 
              <i>Undergraduate course - <a href="https://www.esci.upf.edu/en/bachelors-degree-in-bioinformatics/bachelors-degree-bioinformatics" target="_blank">UPF/UB/UPC</a></i>
            </p>
            <p>
              <a href="https://www.upf.edu/documents/4177293/214287851/2018-19_ALG.pdf/1e712278-d19e-049e-7d16-1a229940a5e2" target="_blank">Introduction to Algorithmics</a> 
              <br> 
              <i>Master's course - <a href="https://www.upf.edu/web/bioinformatics" target="_blank">UPF/UB</a></i>
            </p>
            

          
        </div>
    </div> <!-- row main -->
    
    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      
    </footer>
  </section>
  
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  $("#home-btn").click(function() {
    $('html,body').animate({
      scrollTop: $("#home").offset().top},
      'slow');
    });
    
    $("#projects-btn").click(function() {
      $('html,body').animate({
        scrollTop: $("#projects").offset().top},
        'slow');
      });
      
      $("#publications-btn").click(function() {
        $('html,body').animate({
          scrollTop: $("#publications").offset().top},
          'slow');
        });
        
        $("#posters-btn").click(function() {
          $('html,body').animate({
            scrollTop: $("#posters").offset().top},
            'slow');
          });
          
          
        </script>
      </body>
      </html>
      
